* {
    margin: 0px;
    padding: 0px;
}

.header {
    height: 40px;
    background: red;
}

.from-misha {
    margin-top: 200px;
    font-family: 'Kosugi Maru', sans-serif;
}
.pashaContetn {
    position: relative;
    margin-top: 90vh;
    overflow: hidden;
}

.from-misha-img-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.misha-img-front{
    background-image: url('./assets/image/misha-front.jpg');
    height: 800px;
    width: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.misha-img-back{
    background-image: url('./assets/image/misha-back.jpg');
    height: 800px;
    width: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: 40px;
}

.misha-point{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.misha-chlen{
    left: 225px;
    bottom: 315px;
}

.misha-bed{
    left: 350px;
    bottom: 150px;
}

.misha-face{
    right: 35px;
    top: 220px;
}

.misha-neck{
    left: 200px;
    top: 180px;
}

.misha-ass{
    left: 220px;
    bottom: 320px;
}

#blink-misha-text {
    -webkit-animation: blink 0.3s linear infinite;
    animation: blink 0.3s linear infinite;
}
@-webkit-keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
}

.test-ot-antona{
    margin-top: 200px;
    margin-left: 40px;
}

.forma-stroka{
    display: flex;
    margin: 30px;
}

.input-from-anton{
    margin: 0 20px;
    width: 250px;
}

#btn-forma-submit{
    height: 40px;
}
#btn-forma-submit::before{
    content: attr(text);
}

#btn-forma-submit:hover::before{

    content: attr(text-another);
}

#btn-forma-submit:hover{
    background-color: blue;
    color: yellow;
}

.header {
    height: 40px;
    background: red;
}

.d-flex {
    display: flex;
}

.flex-full {
    flex: 1
}

.started-content {
    overflow: hidden;
    background-image: url("./assets/image/гаччи.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-photo {
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hidden-block {
    position: absolute;
    left: 0px;
    right: 0px;
    font-size: 90px;
    transform: translateY(-150px);
    transition: all 0.3s ease-in-out;
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.main-photo:hover {
    transform: scale(2);
    transform: rotate(720deg);
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

.main-photo:hover .hidden-block {
    transform: translateY(150px);
    cursor: pointer;
}

.vlad {
    background-image: url("./assets/image/vlad_main.jpeg");
}

.slave {
    background-image: url("./assets/image/slave_main.jpg");
}

.absolute-title {
    position: absolute;

    top: 20px;
    left: 0;
    right: 0;
    font-size: 100px;
    text-align: center;
}

.image-verin {
    position: absolute;
    display: flex;
    z-index: 99999;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 200px;
    transform: rotate(-45deg);
    animation: name-of-animation 2s infinite;
    cursor: pointer;
}

.misha {
    transform: rotate(-45deg);
    bottom: 100px;
    left: 0px;
    animation: name-of-animation2 2s infinite;
    animation-delay: 250ms;
}

.zabenia {
    bottom: 500px;
    animation: name-of-animation 2s infinite;
    animation-delay: 400ms;
}

.anton {
    right: 50px;
    top: 50px;
    animation: anton 2s infinite;
    animation-delay: 1000ms;
}

.serch {
    top: 20px;
    animation-delay: 700ms;
}

.max {
    right: 500px;
    top: 0;
    animation: max 2s infinite;
}

.oleg {
    bottom: 220px;
    animation-delay: 1200ms;
}
.iam {
    left: 40% !important;
}

.image-verin:hover {
    transform: rotate(720deg);
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

.counter-dibil {
    position: absolute;
    bottom: 50%;
    text-align: center;
    color: azure;
    font-size: 70px;
    left: 0;
    right: 0;
}

.ura {

    bottom: 50px;
    transform: rotate(0);
    left: 50%;
    animation: ura 5s infinite;
    animation-delay: 1500ms;
}

.pasha {
    top: 400px;
    left: 30px;
    animation: pasha 5s infinite;
    animation-delay: 200ms;
}

.boss-dikii {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left:10%;
    background-image: url("./assets/image/boss1.jpeg");
    background-size: 100% 87%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 80vw;
}

.mr {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hp {
    height: 20px;
    width: 50%;
    background: red;
    position: absolute;
    top: 40px;
    left: 40px;
    border: 5px solid;
}
.db-red {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(225, 0, 0, 0.6);
    height: 100%;
}
.red {
    height: 20px;
    width: 50%;
    background: green;
    top: 45px;
    left: 45px;
    position: absolute;
    z-index: 9999;
}

.aliens {
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}
.alien {
    width: 49vw;
    height: 300px;
}
.alien-grid {
    align-items: center;
    flex-wrap: wrap;
}

@keyframes ura {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.6;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes max {
    0% {
        transform: translateY(-150%);
    }
    20% {
        transform: translateY(50%);
    }
    80% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-150%);
    }
}

@keyframes pasha {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(0.5);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes name-of-animation2 {
    0% {
        transform: translateX(-400px) rotate(45deg);
    }
    20% {
        transform: translateX(0px) rotate(45deg);
    }
    80% {
        transform: translateX(0px) rotate(45deg);
    }
    100% {
        transform: translateX(-400px) rotate(-45deg);
    }
}

@keyframes name-of-animation {
    0% {
        transform: translateX(400px) rotate(45deg);
    }
    20% {
        transform: translateX(0px) rotate(-45deg);
    }
    80% {
        transform: translateX(0px) rotate(-45deg);
    }
    100% {
        transform: translateX(400px) rotate(-45deg);
    }
}

@keyframes anton {
    0% {
        transform: translateX(-100%) rotate(45deg);
    }
    20% {
        transform: translateX(50%) rotate(-45deg);
    }
    80% {
        transform: translateX(0px) rotate(-45deg);
    }
    100% {
        transform: translateX(100%) rotate(-45deg);
    }
}

.carousel-item{
    position: relative; 
    display: flex; 
    justify-content: center;
}
.carousel-text{
    font-size: 40px; 
    position: absolute; 
    bottom: 10%; 
    background-color: deeppink;
}

.happy-image {
    height: 100vh;
    width: 100vw;
    background-color: green;
}

.happy-image img {
    height: 100vh;
    width: 100vw;
}
.cleh {
    height: 500vh;
    width: 100vw;
}

.game-btn {
    width: 400px;
    height: 300px;}
    
.item-chlen{
    width: 70px;
    height: 100px;
}